h1{
    color: blueviolet;
    text-decoration: underline;
    text-transform: uppercase;
}

#header{
    font font-size: 32px;
}

p{
    font-size: 12px;
    color:cadetblue
        
}

a{
    text-decoration: underline;
    color: blue;
}

h2{
    text-transform: uppercase;
    color: green;
}

#about-us{
    width: 100%;
    background-color: blue;
    
}

body{
    color:blueviolet;
    background-color: black;
}

p{
    color:green;
}

#types-of-organisms p{
    color: chartreuse;
    margin: 30px 25%;
    padding: 30px;
    width: 50%;
    border: 14px ridge; 
    border-color: darkviolet;

}


p, span, a li{
    color: red;
    font-size: 14px
    font-weight: bold;
    font-family: fantasy
}

