<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <link th:href="@{styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/" class="index">index</a></li>
    <li><a href="/login" class="Information">Information</a></li>
    <li><a href="/nutrition-store" class="nutrition-store">Nutrition Store</a></li>
    <li><a href="/trick-center" class="trick-center">Trick Center</a></li>
    <li><a href="/action-history" class="action-history">Action History</a></li>
</ul>

<h1>Action History</h1>
<ul>
    <li>2021.January 01. 11:11:11: Creation of everything: awesome</li>
    <li>2021.January 11. 11:11:11: Creation of everything: awesome</li>
    <li>2021.January 15. 11:11:11: Creation of everything: awesome</li>
</ul>

</body>
</html>