<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <link th:href="@{styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/" class="index">index</a></li>
    <li><a href="/login" class="Information">Information</a></li>
    <li><a href="/nutrition-store" class="nutrition-store">Nutrition Store</a></li>
    <li><a href="/trick-center" class="trick-center">Trick Center</a></li>
    <li><a href="/action-history" class="action-history">Action History</a></li>
</ul>
<br>
<img src="greenfox.png"/>
<table>
    <tr th:each="fox: ${foxList}">
        <td th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${fox.tricks} + ' tricks.'"></td>
    </tr>
</table>
<h1>Known Tricks</h1>
<div id="list">
    <li>This and</li>
    <li>That and</li>
    <li>Other things</li>
</div>

<br>

</body>
</html>