<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Programmer Fox Club!</title>
</head>
<body>

<h1>Nutrition Store</h1>
<p>Please select the food, and drink according to your pets preference!</p>

<form method="post" action="/add-fox">


    <br>
    <br>

    <label for="food">Food:</label>
    <select name="food" id="food">
        <option th:text="${Food}" th:value="${Food}" th:each="Food: ${foodList}">
    </select>

    <label for="drink">Drink:</label>
    <select name="drink" id="drink">
        <option th:text="${Drink}" th:value="${Drink}" th:each="Drink: ${drinkList}">
    </select>

    <button type="submit" value="submit">Change</button>

    <br>

</form>
</body>
</html>