<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <link th:href="@{styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul>
    <li><a href="/" class="index">index</a></li>
    <li><a href="/login" class="Information">Information</a></li>
    <li><a href="/nutrition-store" class="nutrition-store">Nutrition Store</a></li>
    <li><a href="/trick-center" class="trick-center">Trick Center</a></li>
    <li><a href="/action-history" class="action-history">Action History</a></li>
</ul>

<h1>Nutrition Store</h1>
<p>Please select the food, and drink according to your pets preference!</p>
<form method="post" action="/add-fox">

    <label for="food">Food:</label>
    <select name="food" id="food">
        <option th:text="${Food}" th:value="${Food}" th:each="Food: ${foodList}">
    </select>

    <label for="drink">Drink:</label>
    <select name="drink" id="drink">
        <option th:text="${Drink}" th:value="${Drink}" th:each="Drink: ${drinkList}">
    </select>

    <button type="submit" value="submit">Change</button>

    <br>

</form>
</body>
</html>