<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css">
</head>
<body>


<form method="post" action="/add-user">
    <h2>ACCOUNT LOGIN</h2>

    <div class="container">

        <label for="name"><b>USERNAME</b></label>
        <input type="text"
               id="name"
               placeholder="";
               required pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>

        <label for="password"><b>PASSWORD</b</label>
        <input
                type="text"
                id="password"
                placeholder=""
                minlength="8"
                required>

        </button>
        <a href="reset.html">Forgot your password? </a>

        <button type="submit" value="submit" >Login</button>

    </div>

</form>

</body>
</html>