<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <a href="/webshop"><h1>My Shop</h1></a>
    <hr>
</header>
<div id ="head-container">
    <a href="/only-available" class="header-buttons" >only available</a>
    <a href="/cheapest-first" class="header-buttons">cheapest first</a>
    <a href="/contains-nike" class="header-buttons">contains nike</a>
    <a href="average-stock" class="header-buttons">average stock</a>
    <a href="/most-expensive-available" class="header-buttons">most expensive available</a>
</div>
<div ><p class="search">Search for:</p>
    <input type="search" id="item-search" name="search-item" placeholder="...something like nike"
           aria-label="Search through site content">
    <button id="search-button" >Search</button>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    <tr th:each="items: ${itemsList}">
        <td th:text="${items.name}"/>
        <td th:text="${items.description}"/>
        <td class ="centered" th:text="${items.price}"/>
        <td class ="centered" th:text="${items.quantityOfStock}"/>
    </tr>
</table>
<div><p th:text="${noItemMessage}"></p></div>
</body>
</html>